
body {
  background: #74a4bc;
}

section {
  background: white;
}


.navigation2 {
  color: #083746;
}
.navigation2__link {
  color: #073b4d; 
}


.header__first2{
  color: #19535f;
}

.about2__heading {
  color: #9e6a7c;
}
.about__picture{

}

.week-summary {
 
}
.week-summary__title {
  color: #c6878f;
}

.week-summary__descrition {
  color: black;
}

.footer2{
  color: black;
}
.footer2__link{
  color: black;
}